<p>You can find me on <a href="https://bsky.app/profile/jschof.dev">Bluesky</a>, <a href="https://c.im/deck/@oldcoyote">Mastodon</a>, <a href="https://www.linkedin.com/in/jim-schofield-130143130/">LinkedIn</a> and <a href="https://github.com/JimSchofield">GitHub</a>. My RSS feed <a href="/rss.xml">is here</a></p>
