<p>You can find me on <a href="https://bsky.app/profile/jschof.bsky.social">Bluesky</a>, <a href="https://www.linkedin.com/in/jim-schofield-130143130/">LinkedIn</a> and <a href="https://github.com/JimSchofield">GitHub</a></p>
