<footer>
  <hr />
  <div class="footer-content">
    <div>
      <div>
        {% include "contact.liquid" %}
      </div>
      
      <div>
        Copyright 2025, All Right Reserved
      </div>
    </div>
    <div>
     <p>{% include "written-by-human.liquid" %}</p>
    </div>
  </div>
</footer>
