<nav class="nav">
  <div>
    {% if page.url == "/" %}
    <h1 class="site-title gradient-text">Jschof.dev</h1>
    {% else %}
    <a href="/" class="site-title text-xxl gradient-text">Jschof.dev</a>
    {% endif %}
  </div>
  <menu-popover class="hide-while-booting">
    <a class="button" href="/">Home</a>
    <a class="button" href="/posts">Posts</a>
    <a class="button" href="/about-me">About Jschof</a>
  </menu-popover>
</nav>
