<nav class="nav">
  <div>
    {% if page.url === "/" %}
    <h1>Jschof.dev</h1>
    {% else %}
    <div class="site-title text-xxl">Jschof.dev</div>
    {% endif %}
  </div>
  <div>
    <a class="button" href="/">Home</a>
    <a class="button" href="/posts">Posts</a>
    <a class="button" href="/about-me">About Jschof</a>
  </div>
</nav>
