
<nav class="nav">
  <div>
    {% if page.url == "/" %}
    <h1 class="site-title text-xxl gradient-text">Jschof.dev</h1>
    {% else %}
    <a href="/" class="site-title text-xxl gradient-text">Jschof.dev</a>
    {% endif %}
  </div>
  <div id="menu">
    <a class="button" href="/">Home</a>
    <a class="button" href="/posts">Posts</a>
    <a class="button" href="/reading-list">Reading List</a>
    <a class="button" href="/about-me">About Jschof</a>
    <button class="button" onclick="window['quick-search'].open()">Search</button>
  </div>
  <div id="mobile-menu">
    <button class="button hamburger-button" aria-haspopup="menu" aria-label="Toggle navigation menu">
      <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <g clip-path="url(#a)">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M3 6h18M3 12h18M3 18h18"></path>
        </g>
        <defs>
          <clipPath id="a">
            <path fill="#fff" d="M0 0h24v24H0z"></path>
          </clipPath>
        </defs>
      </svg>
    </button>
    <div id="mobile-menu-popover" role="menu">
      <a class="button" href="/">Home</a>
      <a class="button" href="/posts">Posts</a>
      <a class="button" href="/reading-list">Reading List</a>
      <a class="button" href="/about-me">About Jschof</a>
      <button class="button" onclick="window['quick-search'].open()">Search</button>
    </div>
  </div>
</nav>
{% include "./quick-search.njk" %}

