---
layout: index
---

<main class="constrain">
  <article>
  {{ content }}
  </article>
  <div class="next-previous-nav">
  {% include "next-previous.liquid" %}
  </div>
</main>

<a href="#" id="back-to-top">
  Back to top
</a>
