---
layout: index.njk
---

<main class="constrain">
  <article>
  {{ content | safe }}
  </article>
  <div class="next-previous-nav">
  {% include "next-previous.njk" %}
  </div>
</main>

<a href="#" id="back-to-top">
  Back to top
</a>
