---
layout: index.njk
---

<main class="constrain">
  <article>
  {{ content | safe }}
  </article>
  <div class="next-previous-nav">
  {% include "next-previous.njk" %}
  </div>
</main>

<a href="#" id="back-to-top">
  Back to top
</a>

<div class="constrain constrain--wide">
  <hr class="margin-1-0" />
  <script src="https://utteranc.es/client.js"
          repo="jimschofield/jschof.dev"
          issue-term="pathname"
          label="💬"
          theme="github-light"
          crossorigin="anonymous"
          async>
  </script>
</div>

