<quick-search id="quick-search">
  {%- for post in collections.posts -%}
  <search-option
    value="{{post.data.title}}"
    excerpt="{{post.data.excerpt}}"
    categories="{{post.data.tags}}"
    url="{{post.url}}"
  ></search-option>
  {%- endfor -%}
</quick-search>
