Add a comment below or find me on <a href="https://bsky.app/profile/jschof.dev">Bluesky</a> or <a href="https://c.im/deck/@oldcoyote">Mastadon</a>. I also have an <a href="/rss.xml">RSS feed here</a>
