article h1 {
  text-wrap: initial;
}

.posts-grid {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  list-style: none;
}

@media (max-width: 600px) {
  .posts-grid {
    grid-template-columns: 1fr;
  }
}

.posts-grid__item {
  display: flex;
}

.card {
  display: block;
  width: 100%;
  text-decoration: none;
  line-height: 1.2;
  background: var(--seasalt);
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid var(--gunmetal);
  box-shadow: var(--shadow);
}

.card__image {
  display: block;
  aspect-ratio: 1.619;
  object-fit: cover;
  object-position: center center;
  border-radius: 0;
}

.card__detail {
  position: relative;
  padding: .5em;
}

.card__title {
  color: var(--gunmetal);
  font-weight: 800;
  margin-bottom: .25em;
}

.card__date {
  position: absolute;
  bottom: 100%;
  right: 0;
  padding: 0 .5em;
  background: var(--seasalt);
  border-top-left-radius: 8px;
}

.card__excerpt {
  color: var(--gunmetal);
  text-decoration: none;
  font-size: 12px
}

.card__placeholder {
  width: 100%;
  background: var(--gradient);
  aspect-ratio: 1.619;
}

.post-details {
  font-weight: bold;
}


@media (max-width: 600px) {
  .card__placeholder,
  .card__image {
    aspect-ratio: 4 / 1;
  }
}
